* {
    margin: 0;
    padding: 0;
}
.btn_sec {
    width: 100%;
   
   
}
.gap_part {
    width: 80%;
    margin: auto;
    padding: 100px 0;
}
.btn {
    height: 60px;
    width: 250px;
    background:teal;
    margin: auto;
   /* transition-property: background ;
    /*transition-delay: 1s ;
    transition-duration: .4s ;
    transition-timing-function: ease-in-out;
    /*cubic-bezier(.85,.41,.12,.78)
    transition: background ease-in-out .3s 1s ; */
    transition: .4s /*.3s */;
    position: relative;
    overflow: hidden;

   
}
.btn a {
    text-align: center;
    display: block;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
/*h1 {
    line-height: 110px;
}*/
.btn:hover {
    /*background-color: red;
    transform: rotate(180deg);
    transform: rotate(6turn);
    transform: rotateX(1turn);
    transform: rotateY(1turn);
    transform: scale(1.5);
    transform: scaleX(1.5);
    transform: scaleY(1.5);
    transform: skew(45deg);
    transform: skew(-45deg);
    transform: translate(30px);
   transform: translate(30px,40px);*/

}
.btn:hover::before {
    left: 0;

}
.btn:hover {
    background: transparent;
}
.btn::before{ 
    position: absolute;
    top: 0;
    left: -100%;
    content: '' ;
    height: 100%;
    width: 100%;
    background-color:red;
    transition: .4s ;
    z-index: -2;

}